# Ignore Visual Studio specific files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore build results
bin/
obj/
Debug/
Release/

# Ignore NuGet packages
*.nupkg
packages/
!packages/repositories.config

# Ignore JetBrains Rider & ReSharper
.idea/
*.DotSettings.user
*.sln.DotSettings

# Ignore Visual Studio Code settings
.vscode/

# Ignore database & migration files
migrations/
*.
